.mappedToasts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.toast {
    min-width: 150px;
    width: max-content;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: .8em;
    font-weight: bold;
    color: white;
    opacity: 1;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgb(69, 69, 69);
    transition: 0.2s;
    animation: fadeIn 0.75s;
  }/*
  .toast:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(0.95);
    box-shadow: 0px 0px 3px gray;
  }*/
  .win {
    background-color: #83bd92;
  }
  .lose {
    background-color: #bd8383;
  }
  .info {
    background-color: #2e2e2e;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }