.wordle-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.wordle-game .wordle-board{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;
    width: 350px;
    height: 420px;
    /* background-color: blue; */
    font-family: Jost;
    font-size: 24pt;
    font-weight: 500;
}

.wordle-game .wordle-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    gap: 4px;
    align-items: center;
}

.wordle-game .wordle-tile{
    border: 1px solid white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordle-game .tile-absent{
    height: 100%;
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: var(--tile-absent);
}

.wordle-game .tile-present{
    height: 100%;
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: var(--tile-present);
}

.wordle-game .tile-correct{
    height: 100%;
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: var(--tile-correct);
}

.wordle-game .wordle-text-box{
    margin: 16px 0px;
    width: 100%;
    height: 50px;
}

.wordle-game .keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 20px;
    gap: 4px;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    font-family: Jost;
    font-size: 18pt;
    font-weight: 500;
}

.wordle-game .keyboard-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
    align-items: center;
}

.wordle-game .keyboard-button button{
    border-radius: 5px;
    border: none;
    background-color: var(--keyboard-tile-original);
    padding: 10px 5px 10px 5px;
    height: 100%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordle-game .letter-correct button{
    background-color: var(--tile-correct);
}

.wordle-game .letter-present button{
    background-color: var(--tile-present);
}

.wordle-game .letter-absent button{
    background-color: var(--tile-absent);
}